/*fonts*/
#header, #footer{
font-family: sans-serif;
font-size: 1em;
}
h{
font-family: arial, sans-serif;
font-weight: bold;
}
p{
}


/*positioning*/
#footer{
position: fixed;
bottom: 10px;
width: 100%;
text-align: center;
}

li, ul{
display: inline;
}
div{
display: block;
margin: 10px;
}

#main{
background-color: grey;
}
#other{
background-color: pink;
}